.container-landing {
  margin-top: 50px;
}

.jumbotron {
  padding: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #bbbbbb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.info-box {
  margin-top: 30px;
  margin-bottom: 50px;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 2px solid #243e36;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.info-box_content {
  flex: 1; /* El texto ocupará todo el espacio disponible en el contenedor */
  width: 50%;
}

.info-box h4 {
  color: #243e36;
}

.info-box p {
  color: #555;
}

.info-box span {
  color: #555;
}

.card-img{
  width: auto;
  height: 250px;
  margin-left: 20px; /* Ajusta el espacio entre el texto y la imagen según tus preferencias */
  display: flex;
  justify-content: flex-end;
}

.boton-jumbo {
  margin-top: 20px;
}

/* Ajuste de estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 30px;
  }

  .info-box {
    margin-bottom: 30px;
  }
}
