* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0 auto;
    max-width: 1440px;
    background: rgb(230, 230, 230);
  }
  
  .container {
    display: flex;
    flex-direction: column; 
    
    margin: 20px;
  }
  
  .jumbotron {
    padding: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../img/jumboimg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px; 
  }

  .info-box_1,
  .info-box_2 {
    flex: 1;
    padding: 20px;
    border: 2px solid black;
    width: 100%; 
    margin-bottom: 100px;
  }
  
  .info-box_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .info-box_text1,
  .info-box_text3,
  .info-box_text4 {
    flex: 1;
    text-align: center; 
  }
  